@font-face {
  font-family: 'cicon';
  src:  url('fonts/cicon.eot?m7l1p6');
  src:  url('fonts/cicon.eot?m7l1p6#iefix') format('embedded-opentype'),
    url('fonts/cicon.ttf?m7l1p6') format('truetype'),
    url('fonts/cicon.woff?m7l1p6') format('woff'),
    url('fonts/cicon.svg?m7l1p6#cicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cicon-"], [class*=" cicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cicon-telephone:before {
  content: "\e967";
}
.cicon-xunjia:before {
  content: "\e962";
}
.cicon-rili:before {
  content: "\e963";
}
.cicon-songhuo:before {
  content: "\e964";
}
.cicon-xundian:before {
  content: "\e965";
}
.cicon-kubi:before {
  content: "\e95b";
}
.cicon-clock:before {
  content: "\e95c";
}
.cicon-warning:before {
  content: "\e95e";
}
.cicon-unchecked:before {
  content: "\e957";
}
.cicon-add_circle:before {
  content: "\e901";
}
.cicon-add:before {
  content: "\e902";
}
.cicon-all:before {
  content: "\e903";
}
.cicon-apply:before {
  content: "\e904";
}
.cicon-arrow_bottom:before {
  content: "\e905";
}
.cicon-arrow_left:before {
  content: "\e906";
}
.cicon-arrow_right:before {
  content: "\e907";
}
.cicon-arrow_top:before {
  content: "\e908";
}
.cicon-box:before {
  content: "\e909";
}
.cicon-camera:before {
  content: "\e90a";
}
.cicon-cart:before {
  content: "\e90b";
}
.cicon-checked_circle:before {
  content: "\e90c";
}
.cicon-checked:before {
  content: "\e90d";
}
.cicon-close_circle:before {
  content: "\e90e";
}
.cicon-close:before {
  content: "\e90f";
}
.cicon-coupon:before {
  content: "\e910";
}
.cicon-delete:before {
  content: "\e911";
}
.cicon-device:before {
  content: "\e912";
}
.cicon-file:before {
  content: "\e913";
}
.cicon-filter:before {
  content: "\e914";
}
.cicon-good:before {
  content: "\e915";
}
.cicon-home:before {
  content: "\e916";
}
.cicon-information:before {
  content: "\e917";
}
.cicon-loading:before {
  content: "\e918";
}
.cicon-location:before {
  content: "\e919";
}
.cicon-menu:before {
  content: "\e91a";
}
.cicon-microphone:before {
  content: "\e91b";
}
.cicon-mine_circle:before {
  content: "\e91c";
}
.cicon-mine:before {
  content: "\e91d";
}
.cicon-nowifi:before {
  content: "\e91e";
}
.cicon-phone:before {
  content: "\e91f";
}
.cicon-picture:before {
  content: "\e920";
}
.cicon-play:before {
  content: "\e921";
}
.cicon-reduce_circle:before {
  content: "\e922";
}
.cicon-reduce:before {
  content: "\e923";
}
.cicon-loading2:before {
  content: "\e924";
}
.cicon-safe:before {
  content: "\e925";
}
.cicon-search:before {
  content: "\e926";
}
.cicon-setting:before {
  content: "\e927";
}
.cicon-seven_circle:before {
  content: "\e928";
}
.cicon-share:before {
  content: "\e929";
}
.cicon-signout:before {
  content: "\e92a";
}
.cicon-sort:before {
  content: "\e92b";
}
.cicon-star:before {
  content: "\e92c";
}
.cicon-store:before {
  content: "\e92d";
}
.cicon-tool:before {
  content: "\e92e";
}
.cicon-trigon_bottom:before {
  content: "\e92f";
}
.cicon-trigon_left:before {
  content: "\e930";
}
.cicon-trigon_right:before {
  content: "\e931";
}
.cicon-trigon_top:before {
  content: "\e932";
}
.cicon-truck:before {
  content: "\e933";
}
.cicon-wifi:before {
  content: "\e934";
}
.cicon-x_telephone:before {
  content: "\e968";
}
.cicon-x_xunjia:before {
  content: "\e966";
}
.cicon-x_rili:before {
  content: "\e95f";
}
.cicon-x_songhuo:before {
  content: "\e960";
}
.cicon-x_xundian:before {
  content: "\e961";
}
.cicon-x_clock:before {
  content: "\e958";
}
.cicon-x_kubi:before {
  content: "\e959";
}
.cicon-x_warning:before {
  content: "\e95a";
}
.cicon-radio:before {
  content: "\e95d";
}
.cicon-x_add_circle:before {
  content: "\e935";
}
.cicon-x_all:before {
  content: "\e936";
}
.cicon-x_apply:before {
  content: "\e937";
}
.cicon-x_box:before {
  content: "\e938";
}
.cicon-x_camera:before {
  content: "\e939";
}
.cicon-x_cart:before {
  content: "\e93a";
}
.cicon-x_checked_circle:before {
  content: "\e93b";
}
.cicon-x_close_circle:before {
  content: "\e93c";
}
.cicon-x_coupon:before {
  content: "\e93d";
}
.cicon-x_delete:before {
  content: "\e93e";
}
.cicon-x_device:before {
  content: "\e93f";
}
.cicon-x_file:before {
  content: "\e940";
}
.cicon-x_filter:before {
  content: "\e941";
}
.cicon-x_good:before {
  content: "\e942";
}
.cicon-x_home:before {
  content: "\e943";
}
.cicon-x_information:before {
  content: "\e944";
}
.cicon-x_location:before {
  content: "\e945";
}
.cicon-x_menu:before {
  content: "\e946";
}
.cicon-x_microphone:before {
  content: "\e947";
}
.cicon-x_mine_circle:before {
  content: "\e948";
}
.cicon-x_mine:before {
  content: "\e949";
}
.cicon-x_nowifi:before {
  content: "\e94a";
}
.cicon-x_phone:before {
  content: "\e94b";
}
.cicon-x_picture:before {
  content: "\e94c";
}
.cicon-x_play:before {
  content: "\e94d";
}
.cicon-x_reduce_circle:before {
  content: "\e94e";
}
.cicon-x_safe:before {
  content: "\e94f";
}
.cicon-x_setting:before {
  content: "\e950";
}
.cicon-x_seven_circle:before {
  content: "\e951";
}
.cicon-x_signout:before {
  content: "\e952";
}
.cicon-x_star:before {
  content: "\e953";
}
.cicon-x_store:before {
  content: "\e954";
}
.cicon-x_tool:before {
  content: "\e955";
}
.cicon-x_truck:before {
  content: "\e956";
}
.cicon-x_wifi:before {
  content: "\e900";
}

